Vertex/Env.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Environment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Meta">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="val" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Evaluator">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ParameterList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Value">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:boolean">
                            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
                            <xs:attribute name="type" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="for" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="AnswerList">
                <xs:complexType>
                  <xs:sequence>
                    <!--<xs:element name="Calculator">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Calculation">
                            <xs:complexType>
                              <xs:attribute name="perform" type="xs:string" use="required" />
                              <xs:attribute name="opr" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="for" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>-->
                    <xs:element maxOccurs="unbounded" name="Value">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:boolean">
                            <xs:attribute name="index" type="xs:unsignedByte" use="required" />
                            <xs:attribute name="type" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="for" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="RIBinder">
                <xs:complexType>
                  <xs:attribute name="indicator" type="xs:string" use="required" />
                  <xs:attribute name="on" type="xs:string" use="required" />
                  <xs:attribute name="off" type="xs:string" use="required" />
                  <xs:attribute name="timeout" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IO">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Input">
                <xs:complexType>
                  <!--<xs:attribute name="id" type="xs:string" use="required" />-->
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="execute" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Output">
                <xs:complexType>
                  <!--<xs:attribute name="id" type="xs:string" use="required" />-->
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="execute" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="ReadyIndicator">
                <xs:complexType>
                  <!--<xs:attribute name="id" type="xs:string" use="required" />-->
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="execute" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="VCIODistribution">
                <xs:complexType>
                  <xs:attribute name="method" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>